{% extends "RtoCoreBundle:layout:index.html.twig" %}

{% block  title %}
Time Worked
{% endblock %}

{% block css %}
<link href="{{asset('bundles/rtocore/css/jquery-ui.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{asset('bundles/rtocore/css/jquery-ui.structure.min.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block vars %}
<script type="text/javascript">
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-ui.min.js')}}"></script>
<script type="text/javascript">
</script>
{% endblock %}

{% block  content %}
<div>
	Time Worked
</div>
{% endblock %}
