{% extends "RtoCoreBundle:layout:index.html.twig" %}

{% block  title %}
Brands
{% endblock %}

{% block vars %}
<script type="text/javascript">
	var addressUpdateBrand  = '{{path('Admin_updateBrand')}}';
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('bundles/rtoadmin/js/brands/edit.min.js')}}"></script>
{% endblock %}

{% block  content %}
<div>
	Brands
</div>
<form method="POST" name="form" id="form" onsubmit="return false;">
	<p>
		<label for="name">Name: </label>
		<input type="hidden" name="id" id="id" value="{{data.id}}" >
		<input type="text" name="name" id="name" required value="{{data.name}}">
	</p>
	<p>
		<span class="loader" id="loader-login"></span>
		<button type="submit">
			Save
		</button>
	</p>
</form>
{% endblock %}
