<ul >
	<li class="title">Type of Locations Registered</li>
	<li class="content">{{count}} type of location{% if data > 0 %}s{% endif %} registered</li>
	<li class="title">Last Type of Location Registered</li>
	<li class="content">{% if count > 0 %}{{data[count-1].type.name}}{% endif %} </li>
</ul>