<html>
	<head></head>
	<body>
		<table style="border-spacing:0;width:806px;max-width:806px">
			<tbody>
				<tr>
					<td><!-- Imagen del logo --><span style="font-family: 'Relaway',sans-serif; font-size: 33px; font-weight: bolder; float: left; margin-top: 20px;">RTOHALL System </span><span style="font-family:Arial,Helvetica,sans-serif; font-size: 19px; color: #8F8F8F; float:left; margin-top: 32px; margin-left: 20px;">{{data.title}}</span></td>
				</tr>
				<tr>
					<td>
					<hr style="width:100%;">
					</td>
				</tr>
				<tr>
					<td>
					<p style="font-family:Arial,Helvetica,sans-serif; font-size:18px; color: #222222; margin:25px;">
						You have been retired as project responsible of {{data.name}}.
					</p></td>
				</tr>
				<tr>
					<td>
					<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color: #222222;margin:0px 25px 0">
						To login on the system, follow the next link.
						<span style="margin: 0px 25px 0px">
							<a href="http://34.198.11.98" style="margin-left:25px; font-family:Arial,Helvetica,sans-serif;font-size:14px;color: #8F8F8F;text-decoration:none;" target="_blank">http://34.198.11.98</a>
						</span>
					</p>
					</td>
				</tr>
				<tr>
					<td>
					<p style="font-family:Arial,Helvetica,sans-serif; font-size:14px; color: #222222; margin:25px;">
						A product of RTO - Halliburton
					</p>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
